.load_snow_wrapper {
  position: relative;
}

.load_body_wrapper {
  position: absolute;
}

.load_animation_wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

#load_image {
  object-fit: scale-down;
  max-width: 80vw;
  margin: auto 0;
  max-height: 100vh;
}

#letter_image, #letter_img_ani, #letter_papper, #letter_turn {
  position: absolute;
  object-fit: scale-down;
  margin: auto auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 50vw;
  max-height: 50vh;
  cursor: pointer;
}

#letter_img_ani {
  animation-name: firstLetter;
  animation-duration: 3s;
  animation-iteration-count: 1;  
}

#letter_papper {
  animation-name: papperMove;
  animation-duration: 2s;
  animation-iteration-count: 1;  
}

#letter_turn {
  animation: turnLetter 3s 1, turnLetterSrc 3s 1;
}

@keyframes firstLetter {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes papperMove {
  from {transform: rotateX(0deg) translateY(0px)}
  50% {transform: rotateX(-30deg) translateY(-100px)}
  to {transform:  rotateX(0deg) translateY(0px)}
}