@font-face {
  src: url("../fonts/BMJUA_ttf.ttf");
  font-family: "jua"
}

body{
  background-color: rgb(226, 226, 226);
}

.snow_wrapper {
  position: relative;
  max-width: 100%;
}

.body_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.main_wrapper {
  background: #555d6166;
  height: 20vh;
  display: flex;
  justify-content: center;
}

.main_image {
  display:block;
  max-width: 100%;
  margin: 20px auto;
  color: #fff;
  object-fit: scale-down;
}

.contents_wrapper {
  height: 60vh;
  display: flex;
  justify-content: center;
}

.contents_background {
  max-width: 50vw;
  margin: auto 0;
}

.FormId, .FormPw {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  margin: 40px auto;
}

.FormId label, .FormPw label {
  width: 100px;
  font-family: "jua";
  text-align: center;
  margin: auto 0;
}

#login_id, #login_pw {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
}

.button_wrapper {
  max-height: 20vh;
  display: flex;
  justify-content: center;
}

.login_button {
  display:block;
  max-width: 100%;
  max-height: 10vh;
  object-fit: scale-down;
  margin: 20px auto;
}
